# Ignore everything by default
*

# Whitelist dotfiles
!.config/
!.config/borders/
!.config/borders/bordersrc
!.config/chrome-flags.conf
!.config/ghostty/
!.config/ghostty/config
!.config/ghostty/themes/
!.config/ghostty/themes/catppuccin-macchiato.conf
!.config/i3/
!.config/i3/config
!.config/iterm2/
!.config/iterm2/iTerm2 State.itermexport
!.config/jj/
!.config/jj/config.toml
!.config/karabiner/
!.config/karabiner/karabiner.json
!.config/kitty/
!.config/kitty/kitty.conf
!.config/linearmouse/
!.config/linearmouse/linearmouse.json
!.config/nvim
!.config/ranger/
!.config/ranger/rc.conf
!.config/zathura/
!.config/zathura/zathurarc
!.config/zsh/
!.config/zsh/aliases.zsh
!.config/zsh/exports.zsh
!.config/zsh/functions.zsh
!.config/zsh/keybinds.zsh
!.config/zsh/plugins.zsh

!.finicky.js
!.gitconfig
!.gitignore
!.gitmodules
!.p10k.zsh
!.tmux.conf
!.xbindkeysrc
!.xinitrc
!.Xresources
!.zshrc

!bin/
!bin/install-dots.sh
!bin/pointer-size.swift

!userChrome.css
!README.md
